h1 {
  text-align: center;
  color: blue;
  text-decoration: underline;
}

h3 {
  border-bottom: solid 1px black;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  color: black;
  font-size: 25px;
  font-weight: bolder;
}

body {
  background-color: rgb(0, 247, 255);
}

p {
  font-size: 20px;
  width: 25%;
  text-justify: auto;
  line-height: 1.5;
}

div ul li {
  font-size: 20px;
  text-justify: auto;
  list-style-type: circle;
  line-height: 1.5;
}

#skills {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

#IT,
#civil {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: black dashed 1px;
  flex-wrap: wrap;
}
#skills p {
  width: 50%;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 25px;
  margin: 0 auto;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#short,
#long {
  width: 50%;
  margin: 15px;
  border: 1px solid black;
}

#short p,
#long p {
  margin: 0 auto;
  text-decoration: underline;
  font-size: 25px;
}

footer p {
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

ol li {
  font-size: 20px;
  text-justify: auto;
  line-height: 1.5;
}
